<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" >
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css.map" %}" >
	<link rel="stylesheet" type="text/css" href="{% static "jquery.jqplot.min.css" %}" >
	<link rel="stylesheet" type="text/css" href="{% static "home.css" %}" >
</head>
<body data-spy = "srcoll" data-target="#navbar_su">
	<div id="ads">
		<!-- <img src="sea1.jpg" />
		-->
		<h1>自动评论生成研究系统</h1>
	</div>
	<div id="navbar_su">
		<nav class="nav  nav-stacked" role="tablist">
			<li role="presentation" class="active">
				<a href="#Home">首页</a>
			</li>
			<li role="presentation" class="nav_taggle">
				<a href="#Single">单产品</a>
				<ul class="nav" style="display: none" >
					<li>
						<a href="#literal_s">文字</a>
					</li>
					<li>
						<a href="#figure_s">图表</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="nav_taggle">
				<a href="#Muti">多产品</a>
				<ul class="nav" style="display: none" >
					<!-- <li>
						<a href="#select_m">选择</a>
					</li> -->
					<li>
						<a href="#literal_m">文字</a>
					</li>
					<li>
						<a href="#figure_m">图表</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="nav_taggle">
				<a href="#MutiPro">多属性</a>
				<ul class="nav" style="display: none" >
					<!-- <li>
						<a href="#select_m">选择</a>
					</li> -->
					<li>
						<a href="#literal_mp">文字</a>
					</li>
					<li>
						<a href="#figure_mp">图表</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="active">
				<a href="#Help">帮助</a>
			</li>
			<!-- <li role="presentation" class="active">
			<a class="back-to-top" href="#top">回到顶部</a>
		</li>
		-->
	</nav>
</div>
<div id="c_content">
	<div id="Home"  class="sections">
		<div id="Top"></div>
		<h1 class="page-header">首页</h1>
		<p>自然语言处理</p>
	</div>
	<div id="Single" class="sections">
		<h1 class="page-header">单产品</h1>
		<form role="form"  action = '' method="get">
			<div class="col-lg-5">
				<div class="input-group">
					<input type="text" class="form-control userchoose choosename" aria-label="..." placeholder="请选择汽车名"  name="nameS" >
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							汽车名
							<span class="caret"></span>
						</button>
					<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
							<!-- {% for price in price %}
							<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">{{price}}</a>
							<ul style="display: none" >
								{% for priceW in  priceW %}
								<li class="selet">
									<a href="javascript:void(0)">{{priceW}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						{% endfor %} -->
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">5W</a>
							<ul style="display: none" >
								{% for price1 in  price1 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price1}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">5w-10w</a>
							<ul style="display: none" >
								{% for price2 in price2 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price2}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">10w-15w</a>
							<ul style="display: none" >
								{% for price3 in  price3 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price3}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">15w-20w</a>
							<ul style="display: none" >
								{% for price4 in  price4 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price4}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">20w-25w</a>
							<ul style="display: none" >
								{% for price5 in  price5 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price5}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">25w-30w</a>
							<ul style="display: none" >
								{% for price6 in  price6 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price6}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">30w-35w</a>
							<ul style="display: none" >
								{% for price7 in  price7 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price7}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">35w-50w</a>
							<ul style="display: none" >
								{% for price8 in  price8 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price8}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">50w-70w</a>
							<ul style="display: none" >
								{% for price9 in  price9 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price9}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">70w-100w</a>
							<ul style="display: none" >
								{% for price10 in  price10 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price10}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">100w</a>
							<ul style="display: none" >
								{% for price11 in  price11 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price11}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<div class="col-lg-5">
			<div class="input-group">
				<input type="text" class="form-control userchoose  chooseproperty" aria-label="..." placeholder="请选择属性名" name="propertyS">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						属性名
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
						{% for property in  property %}
						<li class="selet">
							<a href="javascript:void(0)">{{property}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<!-- /input-group -->
		<button type="submit" class="btn btn-default submitS" id="single_submit">查询</button>
	</form>
	<h3 class="selectINFO">
		您的选择是：
		<span class="label label-default" id="selectName">{{nameS}}</span>
		<span class="label label-default" id="selectProperty">{{propertyS}}</span>
	</h3>
	<!-- <h2>你的选择是：{{panelContent}}</h2>
-->
<div class="panel panel-default comments">
	<div class="panel-heading">
		<div  id="literal_s"></div>
		<h3 class="panel-title">文字评论</h3>
	</div>
	<!--
	panelContent是之前写的简单的评论
	contentFigures是选择汽车名字时，对其所有的属性的一个分析的评论
	contentCommet是推荐该款汽车同一价位的其他汽车
	contentCommetP是推荐该属性比较好的汽车名字
	contentInterval是选择属性，推荐该属性比较好的汽车，所在的价格区间
	  -->
	<div class="panel-body">
		<div class="panel_contentS">
			<p>{{panelContent}}</p>
			<p>{{contentFigures}}</p>
			<p>{{contentCommetP}}</p>
			<p>{{contentInterval}}</p>
			<p>{{contentCommet}}</p>
		</div>
	</div>
</div>

<!-- 当用户只是选择汽车名时，图表的展示方式 -->
<div class="graphic graphicName" style="display:none">
	<!-- <h3>汽车的各个属性（没显示的属性的值为0）</h3> -->
	<h3>汽车：<span class="label label-default">{{nameS}}</span></h3>
	<h3 class="recomNames">推荐的同等价位的汽车属性展示如下：</h3>
<!-- 	<div>{{figure}}</div> -->
	<div id="Chart1"></div>
</div>
<!-- 当用户只是选择属性时，图表的展示方式 -->
<div class="graphic graphicFeature" style="display:none">
	<h3 class="recomProperty"><span class="label label-default">{{propertyS}}</span> 比较好的汽车：</h3>
	<h3>他们的分值高低如下图所示：</h3>
<!-- 	<div>{{figure}}</div> -->
	<div id="Chart2"></div>
</div>
<div class="graphic graphicAll" style="display:none">
	<h3 class="recomNames">推荐的汽车：</h3>
	<h3>汽车属性展示如下：</h3>
<!-- 	<div>{{figure}}</div> -->
	<div id="Chart3"></div>
</div>
	</div>
	<div id="Muti" class="sections">
		<h1 class="page-header">多产品</h1>
	<!-- 	<form role="form"> -->
		<div class="col-lg-5">
		<div class="input-group">
			<input type="text" class="form-control userchoose" aria-label="..." placeholder="请选择汽车名">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					汽车名
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right my_ullist_m" role="menu">
								<!-- {% for price in price %}
								<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">{{price}}</a>
								<ul style="display: none" >
									{% for priceW in  priceW %}
									<li class="selet">
										<a href="javascript:void(0)">{{priceW}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							{% endfor %} -->
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">5W</a>
								<ul style="display: none" >
									{% for price1 in  price1 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price1}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">5w-10w</a>
								<ul style="display: none" >
									{% for price2 in price2 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price2}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">10w-15w</a>
								<ul style="display: none" >
									{% for price3 in  price3 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price3}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">15w-20w</a>
								<ul style="display: none" >
									{% for price4 in  price4 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price4}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">20w-25w</a>
								<ul style="display: none" >
									{% for price5 in  price5 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price5}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">25w-30w</a>
								<ul style="display: none" >
									{% for price6 in  price6 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price6}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">30w-35w</a>
								<ul style="display: none" >
									{% for price7 in  price7 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price7}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">35w-50w</a>
								<ul style="display: none" >
									{% for price8 in  price8 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price8}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">50w-70w</a>
								<ul style="display: none" >
									{% for price9 in  price9 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price9}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">70w-100w</a>
								<ul style="display: none" >
									{% for price10 in  price10 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price10}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li class="divider"></li>
							<li role="presentation" class="nav_taggle">
								<a href="javascript:void(0)">100w</a>
								<ul style="display: none" >
									{% for price11 in  price11 %}
									<li class="selet">
										<a href="javascript:void(0)">{{price11}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
						</ul>
			</div>
			<!-- /btn-group -->
		</div>
		</div>
		<!-- /input-group -->
		<button  class="btn btn-default submitF" id="submitM">查询</button>
		<span>（删除已选的汽车名，直接点击即可，最少选择2个，最多选择5个！）</span>
		<!-- </form> -->
		<div class="selectitem" id="selectNames"></div>
		<div class="panel panel-default comments">
			<div class="panel-heading">
				<div id="literal_m"></div>
				<h3 class="panel-title" >文字评论</h3>
			</div>
			<div class="panel-body" id="commentM">
			<div class ="panel_contentM"></div>
			</div>
		</div>
		<!-- <h3>图表展示</h3> -->
		<div id="figure_m"></div>
		<div id="chart4"></div>
	</div>
	<div id="MutiPro"></div>
	<div id="MutiProperty">
		<h1 class="page-header">多属性</h1>
		<div class="col-lg-5">
			<div class="input-group">
				<input type="text" class="form-control userchoose  chooseproperty" aria-label="..." placeholder="请选择属性名" name="propertyS">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						属性名
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right my_ullist_p" role="menu">
						{% for property in  property %}
						<li class="selet">
							<a href="javascript:void(0)">{{property}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<div class="col-lg-5">
			<div class="input-group">
				<input type="text" class="form-control userchoose  chooseproperty" aria-label="..." placeholder="属性在你心中所占的百分比" name="propertyS">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						权值
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right my_ullist_p" role="menu">
						<li class="selet">
							<a href="javascript:void(0)">0.10</a>
						</li>
						<li class="selet">
							<a href="javascript:void(0)">0.25</a>
						</li>
						<li class="selet">
							<a href="javascript:void(0)">0.50</a>
						</li>
						<li class="selet">
							<a href="javascript:void(0)">0.75</a>
						</li>
						<li class="selet">
							<a href="javascript:void(0)">1.00</a>
						</li>
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<button  class="btn btn-default submitF" id="sureSelect">选择</button>
		<button  class="btn btn-default submitF" id="submitMP">查询</button>
		<div class="selectitem" id="selectProperties"></div>
		<div id="literal_mp"></div>
		<div class="panel panel-default comments">
			<div class="panel-heading">
				<div id="literal_m"></div>
				<h3 class="panel-title" >文字评论</h3>
			</div>
			<div class="panel-body" id="commentM">
			<div class ="panel_contentM"></div>
			</div>
		</div>
		<!-- <h3>图表展示</h3> -->
		<div id="figure_mp"></div>
		<div id="chart5"></div>
	</div>
	<div id="Help">
		<h1 class="page-header">帮助</h1>
	</div>
</div>
<div class="backToTop">
	<a class="btn btn-info back-to-top" href="#top" role="button">回到顶部</a>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
{% load staticfiles %}
<script src="{% static "jquery-1.11.3.js" %}" ></script>
<script src="{% static "bootstrap.js" %}" ></script>
<script src="{% static "jquery.jqplot.min.js" %}" ></script>
<script src="{% static "jqplot.pieRenderer.js" %}" ></script>
<script src="{% static "jqplot.canvasTextRenderer.min.js" %}" ></script>
<script src="{% static "jqplot.canvasAxisLabelRenderer.min.js" %}" ></script>
<script src="{% static "jqplot.pointLabels.min.js" %}" ></script>
<script src="{% static "jqplot.barRenderer.min.js" %}" ></script>
<script src="{% static "jqplot.categoryAxisRenderer.min.js" %}" ></script>
<script src="{% static "home.js" %}" ></script>
<script src="{% static "figure.js" %}" ></script>
<!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
最新的 Bootstrap 核心 JavaScript 文件
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
</body>
</html>