<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css" %}" >
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "bootstrap.css.map" %}" >
	<style type="text/css">

	li{list-style:none}
	body{
		position: relative;
	}
	.sections {
		margin-bottom: 30px;
	}
	#navbar_su {
		width: 200px;
		position: absolute;
		left: 30px;
		top:230px;
		/*position: relative;*/
	}
	#navbar_su nav {
		/*position: fixed;
		top:20px;*/
	}
	#navbar_su a {
		color: #767676;
	}
	#ads {
		background: #6f5499;
		width: 100%;
		height: 200px;
		position: relative;
	}
	#ads  h1{
		position: absolute;
		color: #cdbfe3;
		left:50%;
		top:60px;
		margin-left: -120px;
	}
	.nav .active {
		display: block;
	}
	.nav_taggle ul {
		margin-left: 15px;
	}
	#c_content {
		width: 60%;
		/*text-align: center;*/
		margin-left: 25%;
	}
	.page-header {
		border-bottom: 1px solid #eee;
		/*color: #767676;*/
	}
	.comments {
		margin-top: 20px;
	}
	.panel-body {
		height: 200px;
	}
	.selectitem {
		margin-top: 20px;
		width: 200px;
		margin-left: 15px;
	}
	.a_delete {
		margin-right: 20px;
	}
	.a_delete:hover{
		text-decoration: none;
	}
	.a_delete:visited{
		text-decoration: none;
	}
	.a_delete:link{
		text-decoration: none;
	}
	.backToTop {
		position: fixed;
		left:20px;
		bottom: 20px;
	}
	.nav_taggle .select a{
		color: #767676;
	}
	</style>
</head>
<body data-spy = "srcoll" data-target="#navbar_su">
	<div id="ads">
		<!-- <img src="sea1.jpg" />
		-->
		<h1>自动评论生成研究系统</h1>
	</div>
	<div id="navbar_su">
		<nav class="nav  nav-stacked" role="tablist">
			<li role="presentation" class="active">
				<a href="#Home">首页</a>
			</li>
			<li role="presentation" class="nav_taggle">
				<a href="#Single">单产品</a>
				<ul class="nav" style="display: none" >
					<li>
						<a href="#literal_s">文字</a>
					</li>
					<li>
						<a href="#figure_s">图表</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="nav_taggle">
				<a href="#Muti">多产品</a>
				<ul class="nav" style="display: none" >
					<li>
						<a href="#select_m">选择</a>
					</li>
					<li>
						<a href="#literal_m">文字</a>
					</li>
					<li>
						<a href="#figure_m">图像</a>
					</li>
				</ul>
			</li>
			<li role="presentation" class="active">
				<a href="#Help">帮助</a>
			</li>
			<!-- <li role="presentation" class="active">
			<a class="back-to-top" href="#top">回到顶部</a>
		</li>
		-->
	</nav>
</div>
<div id="c_content">
	<div id="Home"  class="sections">
		<div id="Top"></div>
		<h1 class="page-header">首页</h1>
		<p>自然语言处理</p>
	</div>
	<div id="Single" class="sections">
		<h1 class="page-header">单产品</h1>
		<form role="form"  action = '' method="get">
			<div class="col-lg-5">
				<div class="input-group">
					<input type="text" class="form-control userchoose" aria-label="..." placeholder="请选择汽车名"  name="nameS">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							汽车名
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
							<!-- {% for price in price %}
							<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">{{price}}</a>
							<ul style="display: none" >
								{% for priceW in  priceW %}
								<li class="selet">
									<a href="javascript:void(0)">{{priceW}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						{% endfor %} -->
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">5W</a>
							<ul style="display: none" >
								{% for price1 in  price1 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price1}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">5w-10w</a>
							<ul style="display: none" >
								{% for price2 in price2 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price2}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">10w-15w</a>
							<ul style="display: none" >
								{% for price3 in  price3 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price3}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">15w-20w</a>
							<ul style="display: none" >
								{% for price4 in  price4 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price4}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">20w-25w</a>
							<ul style="display: none" >
								{% for price5 in  price5 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price5}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">25w-30w</a>
							<ul style="display: none" >
								{% for price6 in  price6 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price6}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">30w-35w</a>
							<ul style="display: none" >
								{% for price7 in  price7 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price7}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">35w-50w</a>
							<ul style="display: none" >
								{% for price8 in  price8 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price8}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">50w-70w</a>
							<ul style="display: none" >
								{% for price9 in  price9 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price9}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">70w-100w</a>
							<ul style="display: none" >
								{% for price10 in  price10 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price10}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="divider"></li>
						<li role="presentation" class="nav_taggle">
							<a href="javascript:void(0)">100w</a>
							<ul style="display: none" >
								{% for price11 in  price11 %}
								<li class="selet">
									<a href="javascript:void(0)">{{price11}}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<div class="col-lg-5">
			<div class="input-group">
				<input type="text" class="form-control userchoose" aria-label="..." placeholder="请选择属性名" name="propertyS">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						属性名
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
						{% for property in  property %}
						<li class="selet">
							<a href="javascript:void(0)">{{property}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
		</div>
		<!-- /input-group -->
		<button type="submit" class="btn btn-default submitS">查询</button>
	</form>
	<h3 class="selectINFO">
		您的选择是：
		<span class="label label-default">{{nameS}}</span>
		<span class="label label-default">{{propertyS}}</span>
	</h3>
	<!-- <h2>你的选择是：{{panelContent}}</h2>
-->
<div class="panel panel-default comments">
	<div class="panel-heading">
		<div  id="literal_s"></div>
		<h3 class="panel-title">文字评论</h3>
	</div>
	<div class="panel-body">{{panelContent}}</div>
</div>
<div class="graphic">
	<h3>图表</h3>
</div>
</div>
<!-- <div id="literal_s">
<h1 class="page-header">文字</h1>
</div>
<div id="figure_s">
<h1 class="page-header">图像</h1>
</div>
-->
<div id="Muti" class="sections">
<h1 class="page-header">多产品</h1>
<form role="form">
<div class="col-lg-5">
	<div class="input-group">
		<input type="text" class="form-control userchoose" aria-label="..." placeholder="请选择汽车名">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				汽车名
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
				<li role="presentation" class="nav_taggle">
					<a href="javascript:void(0)">5W</a>
					<ul style="display: none" >
						{% for price1 in  price1 %}
						<li class="selet">
							<a href="javascript:void(0)">{{price1}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="divider"></li>
				<li role="presentation" class="nav_taggle">
					<a href="javascript:void(0)">35w-50w</a>
					<ul style="display: none" >
						{% for price2 in price2 %}
						<li class="selet">
							<a href="javascript:void(0)">{{price2}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="divider"></li>
				<li role="presentation" class="nav_taggle">
					<a href="javascript:void(0)">50w-70w</a>
					<ul style="display: none" >
						{% for price3 in  price3 %}
						<li class="selet">
							<a href="javascript:void(0)">{{price3}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="divider"></li>
				<li role="presentation" class="nav_taggle">
					<a href="javascript:void(0)">70w-100w</a>
					<ul style="display: none" >
						{% for price4 in  price4 %}
						<li class="selet">
							<a href="javascript:void(0)">{{price4}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				<li class="divider"></li>
				<li role="presentation" class="nav_taggle">
					<a href="javascript:void(0)">100w</a>
					<ul style="display: none" >
						{% for price5 in  price5 %}
						<li class="selet">
							<a href="javascript:void(0)">{{price5}}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<!-- /btn-group -->
	</div>
</div>
<!-- /input-group -->
<button type="submit" class="btn btn-default submitF" >查询</button>
</form>
<div class="selectitem" id="select_m">
{% for Messages in Messages %}
<a href="javascript:void(0)" class="a_delete" >
	{{Messages}}
	<span class="glyphicon glyphicon-remove"></span>
</a>
{% endfor %}
<!-- <a href="javascript:void(0)" class="a_delete">
Messages
<span class="glyphicon glyphicon-remove"></span>
</a>
-->
</div>
<div class="panel panel-default comments">
<div class="panel-heading">
<div id="literal_m"></div>
<h3 class="panel-title" >文字评论</h3>
</div>
<div class="panel-body">Panel content</div>
</div>
<div class="graphic">
<div id="figure_m"></div>
<h3>图表</h3>
</div>
</div>
<div id="Help">
<h1 class="page-header">帮助</h1>
</div>
</div>
<div class="backToTop">
<a class="btn btn-info back-to-top" href="#top" role="button">回到顶部</a>
</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
{% load staticfiles %}
<script src="{% static "jquery-1.11.3.js" %}" ></script>
{% load staticfiles %}
<script src="{% static "bootstrap.js" %}" ></script>
<!-- <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
最新的 Bootstrap 核心 JavaScript 文件
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
		实现scrollspy功能
		 */
		$('body').scrollspy({target:'#navbar_su'});
		$('[data-spy="scroll"]').each(function () {
  			var $spy = $(this).scrollspy('refresh')
		})

		/*
		实现左边导航条第二级菜单的显示和隐藏
		 */
		$('.nav_taggle').mouseover(function() {
			$('.nav_taggle').find('ul').hide()
			$(this).find('ul').show()
			// console.log($(this))
		 })
		$('.nav_taggle').mouseout(function() {
			$('.nav_taggle').find('ul').hide()
		})
		/*
		实现input下拉列表，下拉列表中的选项填入input中
		 */
		// $(selector).on(event,childSelector,data,function,map)
		$('.my_ullist').on('click', '.selet', function() {
			var tmp = $(this).text();
			var oInput = $(this).parents('.input-group').find('.userchoose');
			/*
			把字符串里的空格和空行删除,使用正则表达式,替换
			 */
			// console.log("1"+tmp)
			tmp = tmp.replace(/\s/g,"");
			// console.log("1"+tmp)
			oInput.val(tmp);
		})
		/*
		阻止下拉标题的点击事件
		 */
		// $('.dropdown-header').click(function(ev) {
		// 	ev.stopPropagation();
		// })
		/*
		
		 */
		// $('.submitS').click(function() {
		// 	$('.selectINFO').show();
		// })
	})

	</script>
</body>
</html>