<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></head>
<body>
	<div class="input-group">
		<input type="text" class="form-control userchoose" aria-label="..." placeholder="请选择汽车名">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				汽车名
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right my_ullist" role="menu">
				<li role="presentation">
					下拉菜单标题
					<ul>
						<li role="presentation">
							<a href="javascript:void(0)">Action</a>
						</li>
						<li role="presentation">
							<a href="javascript:void(0)">Another action</a>
						</li>
						<li role="presentation">
							<a href="javascript:void(0)">Something else here</a>
						</li>
					</ul>
				</li>

				<li class="divider"></li>
				<li role="presentation">下拉菜单标题</li>
				<li>
					<a href="javascript:void(0)">Separated link</a>
				</li>
			</ul>
		</div>
		<!-- /btn-group -->
	</div>

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>